<nav class="navbar navbar-inverse">
  <div class="navbar-header navbar-brand">MathML Parsing Demo</div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="text-center"><strong>MathML Code:</strong></div>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="mathml"></ngx-monaco-editor>
    </div>
    <div class="col-sm-6">
      <div class="text-center"><strong>MathML Preview:</strong></div>
      <p *ngIf="mathml;else noExpression" [appMath]="mathml"> </p>
      <ng-template #noExpression>
        <div class="text-danger">Expression unavailable</div>
      </ng-template>
    </div>
  </div>
</div>
